$background-color: #333;
$text-color: #fff;
$header-height: 140px;

abris-navbar {
    position: static;
    display: block;
    box-shadow: rgba(51, 51, 51, 0.28) 4px 0px 5px -2px;
    
    $navbar-width: 200px;

    md-content {
        background: $background-color;
        color: $text-color;
        height: calc(100% - $header-height);
    }
    
    md-sidenav {
        background: $background-color;
        color: $text-color;
        box-shadow: rgba(51, 51, 51, 0.28) 4px 0px 5px -2px;
        width: $navbar-width;
        min-width: $navbar-width;
        max-width: $navbar-width;
        height: 100%;
        
        md-icon {
            color: #fff;
        }        
    }
    
    md-toolbar {
        div {
            padding-left: 8px;
        }
    }
    
    .navbar-items {
        .md-button {
            margin: 0;
            padding: 3px 16px 4px 16px;
            border-radius: 0;
            text-transform: none;
            
            &.active {
                background-color: #666;
            }
            
            md-icon {
                margin-right: 8px;
            }
                
            &.navbar-back {
                min-height: 50px;
                > div {
                    line-height: 50px;
                } 
            }
        }
        
    }

    header {
        height: $header-height;
        min-height: $header-height;
        display: block;
        box-shadow: rgba(125, 125, 125, 0.71) 0px 0px 2px 0px;
        border-bottom: 1px solid #444;
        box-sizing: border-box;
        
        a.md-button {
            position: absolute;
            height: $header-height;
            display: block;
            margin: 0;
            padding: 0;
            
            &:not([disabled]):hover {
                background-color: transparent;
            }
            
            div {
                bottom: 0;
                position: absolute;
                width: 100%;
                background: -webkit-linear-gradient(top, transparent 0%, #333 100%);
                background: linear-gradient(to bottom, transparent 0%, #333 100%);
                height: 49px;
                vertical-align: bottom;
                line-height: 54px;
                font-family: 'Fira Sans';
                text-transform: none;
            }
        }
        
        img {
            max-height: $header-height;
            min-height: $header-height;
            min-width: $navbar-width;
            max-width: $navbar-width;
        }
    }
}

abris-topbar {
    display: block;
    md-toolbar:not(.md-menu-toolbar) {
        background: $background-color;
        color: #fff;
    }
    
    .md-toolbar-tools {
        padding: 0 0 0 16px;
    }
    
    md-input-container {
        .md-input {
            color: #fff;
        }
    }
    .md-toolbar-tools abris-navbar-toggle .md-button {
        margin-left: -16px;
    }
}