.input-search {
    button:first-child {
        margin-left: -10px;
        margin-right: 0;
    }
    md-input-container {
        margin: 8px 0;
    }
    
    input {
        border: none;
        font-size: 18px;
    }
    .md-errors-spacer {
        display: none;
    }
}

.fade {
    transition: all 0.5s;
    
    &.ng-enter {
        opacity: 0;
    }
    &.ng-enter.ng-enter-active {
        opacity: 1;
    }

    &.ng-leave {
        opacity: 1;
    }

    &.ng-leave.ng-leave-active {
        opacity: 0;
    }
}

abris-athlete {
    md-card-title-text {
        padding-right: 8px;
    }
    
    abris-flag {
        padding-left: 8px;
        font-size: 24px;
    }
    
    .athlete-data-container {
        > div {
          padding: 8px 8px 8px 0;  
        }
    }
    
    .card-media {
        width: 128px;
    }
    
    .md-caption {
        color: rgba(0,0,0,0.70);
    }
    @media (max-width: 600px){
        .athlete-data-container {
            max-width: 170px;
        }
    }
   
}

md-card-list {
    .list-item {
        padding: 8px 2px 8px 8px;
        
        &.home {
            cursor: pointer;
            padding: 12px 16px;
            > div > div:first-child {
                padding: 0;
            }
            .date {
                font-weight: 600;
            }
        }
        
        position: relative;
    
        .status {
            position: absolute;
            height: 100%;
            width: 4px;
            top: 0;
            left: 0;
            border-radius: 2px;
        }
                
        span {
            padding: 8px;
            .list-item {
                padding: 4px 2px 4px 2px;
            }
        }
        > div {
            padding: 0;
            > div {
                padding: 0 8px 0 8px;
            }
        }
        abris-flag {
            > span {
                font-size: 20px;
                padding: 0;
            }
        }
    }
}

abris-avatar {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    position: relative;

    .md-avatar{
        border-radius: 50%;
        box-sizing: content-box;
        width: 70px;
        height: 50px;
        position: absolute;
        left: -15px;
        display: inline-block;
        background-color: #eee; 
        //transform: scale(1.8, 1.5) translateY(6px);
    }
}

abris-instagram-item {
    padding: 8px;
    iframe {
        display: inline-block !important;
        width: calc(25% - 40px);
    }
}

tr:focus {outline:0;}
abris-events {
    .parent-row {
        background-color: #fff;
    }

    table.md-table tbody.md-body>tr.md-row.child-row.expanded {
        
        height: 40px;
        div, td {
            max-height: 40px;
            display: table-cell;
        }
    }
    table.md-table tbody.md-body>tr.md-row.child-row {
        max-height: 0px;
        height: 0px;
        background-color: #fafafa;
        // transition:all 0.5s;
        $childIndent: 16;
        div, td {
            // transition:all 0.5s;
            max-height: 0px;
            display: none;
        }
        td:first-child {
            padding-left: #{24 + $childIndent}px !important;
        }
        td:nth-child(n+2) {
            padding-left: #{$childIndent}px;
        }
    }

}

.layout-padding abris-avatar {
    padding: 0;
}

.not-finished {
    background-color: #080;
    color: #fff;
}
.finished {
    background-color: #c00;
    color: #fff;
}

div > p:first-child {
    margin-top: 0;
}